<p-card [style]="{ maxWidth: '350px', margin: 'auto auto' }">
  <ng-template pTemplate="header">
    <div class="grid">
      <div class="col-12 text-center">
        <img [src]="logo.src" [ngStyle]="{ maxWidth: '100px' }" [alt]="logo.alt" *ngIf="logo" />
        <h5>{{ 'Welcome to Books.com' }}</h5>
      </div>
    </div>
  </ng-template>

  <div class="grid">
    <div class="col-12">
      <!-- 
        <p-message severity="error" [text]="error.message" class="w-full justify-content-start mt-2 mb-2" *ngIf="error && error.message"></p-message>
      -->

      <form (submit)="onSubmit()" [formGroup]="form">
        <div class="field mt-2 mb-2">
          <label for="username">{{ 'Username' }}</label>
          <input pInputText type="text" id="username" placeholder="Enter Your Username" formControlName="username" class="inputfield w-full" maxLength="25" />
        </div>

        <p-button type="submit" label="Submit" [disabled]="form.invalid || loading" [loading]="loading" styleClass="inputfield w-full mt-2"></p-button>
      </form>
    </div>
  </div>
</p-card>