@media (min-width: 992px) {
  .layout-wrapper {
    .layout-mask {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    .layout-main-container {
      margin-left: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .layout-mask {
      z-index: 998;
      background-color: $maskBg;
      &.layout-mask-enter-from,
      &.layout-mask-leave-to {
        background-color: transparent;
      }
    }
  }
  .body-overflow-hidden {
    overflow: hidden;
  }
}