<p-dropdown [options]="books" optionLabel="title" formControlName="book">
  <ng-template let-book pTemplate="item">
    <div class="book-item">
      <div class="book-title">{{book.title}}</div>
      <div>
        <span class="book-author">{{book.author}}</span>
        <span>-</span>
        <span class="book-year">{{book.year}}</span>
      </div>
    </div>
  </ng-template>
</p-dropdown>