<div class="layout-topbar">
  <a [routerLink]="['/']" class="layout-topbar-logo">
    <img [src]="logo.src" [alt]="logo.alt" *ngIf="logo" />
  </a>

  <button type="button" class="p-link layout-menu-button layout-topbar-button" [title]="item.label" [routerLink]="[item.url]" routerLinkActive="active" *ngFor="let item of items">
    <i [class]="item.icon"></i>
    <span>{{ item.label }}</span>
  </button>

  <ul class="layout-topbar-menu lg:flex align-items-center layout-topbar-menu-mobile-active">
    <li>
      <app-user-dropdown></app-user-dropdown>
    </li>
  </ul>
</div>