<div class="list-list-item card" *ngIf="list">
  <div class="list-list-item-content">
    <div class="list-title">{{ list.title }}</div>
    <div class="list-books">
      {{ list.books.length }} books added.
    </div>
  </div>
  <div class="list-list-item-right">
    <button pButton icon="pi pi-pencil" title="Edit" (click)="onEdit()" class="mr-2 p-button-rounded"></button>
    <button pButton icon="pi pi-trash" title="Delete" (click)="onDelete()" class="p-button-rounded"></button>
  </div>
</div>

<p-confirmDialog [style]="{width: '25vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>