<div class="splash">
  <div class="splash-inner" *ngIf="logo">
    <img [src]="logo.src" [alt]="logo.alt" />
    <div class="mt-2 mb-2"></div>
    <p-progressBar mode="indeterminate" [style]="{ height: '6px' , width: '100px' , margin: 'auto auto'}"></p-progressBar>
  </div>
</div>