<div [class]="wrapperClass">
  <app-splash *ngIf="loading;else templateName"></app-splash>
  <ng-template #templateName>
    <app-topbar></app-topbar>

    <div class="layout-main-container">
      <div class="layout-main">
        <div class="grid">
          <div class="col-12 md:col-9 mx-auto">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

      <app-toast></app-toast>
      <app-footer></app-footer>
    </div>
  </ng-template>
</div>