<div class="card">
  <div class="grid" *ngIf="loading;else templateName">
    <div class="col-12 md:col-3">
      <div class="card text-center">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="col-12 md:col-3">
      <div class="card text-center">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="col-12 md:col-3">
      <div class="card text-center">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="col-12 md:col-3">
      <div class="card text-center">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </div>
  <ng-template #templateName>
    <p-dataView #dv [value]="books" [paginator]="true" [rows]="9" layout="grid">
      <ng-template let-book pTemplate="gridItem">
        <app-books-grid-item [book]="book" class="col-12 md:col-3 p-3"></app-books-grid-item>
      </ng-template>
    </p-dataView>
  </ng-template>
</div>