<!-- menu -->
<p-menu #menu [popup]="true" [model]="items" id="appuserdropdown"></p-menu>
<!-- button -->
<button type="button" (click)="menu.toggle($event)" aria-controls="appuserdropdown" class="p-link layout-topbar-button" *ngIf="user">
    <i class="pi pi-user"></i>
    <span>{{ user.username }}</span>
</button>