.book-grid-item {
  .book-grid-item-content {
    width: 100%;
    text-align: center;
    .book-title {
      text-overflow: clip;
      word-wrap: break-word;
      color: var(--text-color);
      font-size: large;
    }
    .book-author {
      text-overflow: clip;
      word-wrap: break-word;
      color: var(--primary-color);
    }
    .book-year {
      margin-top: 1rem;
    }
  }
  .book-grid-item-bottom {
    width: 100%;
    margin-top: 1rem;
  }
}