<div class="book-grid-item card" *ngIf="book">
  <div class="book-grid-item-content">
    <div class="book-title">{{ book.title }}</div>
    <div class="book-author">{{ book.author }}</div>
    <div class="book-year">{{ book.year }}</div>
  </div>
</div>