<div class="grid">
  <div class="col-12">
    <p-button label="Add" (click)="addNew()" [disabled]="!canNew()"></p-button>
  </div>
  <div class="col-12" *ngIf="formArray">
    <div style="margin-bottom: 250px">
      <div *ngFor="let c of ordered(formArray.controls); let i=index; let first = first">
        <form class="formgrid grid align-items-end" [formGroup]="assertFormGroup(c)">
          <div class="field col">
            <label for="book-{{i}}">Book</label>
            <!-- <app-books-dropdown></app-books-dropdown> -->
            <p-dropdown [options]="books" optionValue="title" optionLabel="title" formControlName="bookId" styleClass="inputfield w-full" placeholder="Select a book" optionDisabled="selected">
              <ng-template let-book pTemplate="item">
                <div class="book-item">
                  <div class="book-title">{{book.title}}</div>
                  <div>
                    <span class="book-author">{{book.author}}</span>
                    <span>-</span>
                    <span class="book-year">{{book.year}}</span>
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field col">
            <label for="order-{{i}}">Order</label>
            <p-inputNumber [readonly]="true" id="order-{{i}}" class="inputfield w-full" formControlName="order"></p-inputNumber>
          </div>
          <div class="field col controls" style="text-align: end;">
            <div class="p-buttonset">
              <button pButton icon="pi pi-trash" title="Delete" class="p-button-sm" (click)="delete(i)"></button>
              <button pButton icon="pi pi-chevron-up" title="Up" class="p-button-sm" (click)="moveUp(i)" *ngIf="c.value.order > 0"></button>
              <button pButton icon="pi pi-chevron-down" title="Down" class="p-button-sm" (click)="moveDown(i)" *ngIf="c.value.order < formArray.controls.length - 1"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>