<div class="card">
  <router-outlet></router-outlet>
  <p-dataView [value]="data" [paginator]="true" [rows]="10" layout="list">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span>
          <p-button icon="pi pi-plus" label="New" [routerLink]="['/lists/new']"></p-button>
        </span>
      </div>
    </ng-template>
    <ng-template let-list pTemplate="listItem">
      <app-lists-list-item [list]="list" class="col-12"></app-lists-list-item>
    </ng-template>
  </p-dataView>
</div>