<p-message severity="info" [text]="statusMessage" styleClass="w-full align-items-start justify-content-start mb-2">
</p-message>

<p-dialog [header]="header" [(visible)]="visible" position="top" [modal]="true" [style]="{width: '33vw'}" [draggable]="false" [resizable]="false" (onHide)="onHide()">

  <div class="text-center" *ngIf="loading;else templateName">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
  <ng-template #templateName>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="field mt-2 mb-2">
        <label for="title">{{ 'Title' }}</label>
        <input pInputText type="text" id="title" formControlName="title" class="inputfield w-full" />
      </div>

      <div class="field mt-2 mb-2">
        <label for="books">{{ 'Books' }}</label>
        <app-list-books-form [control]="form.controls['books']"></app-list-books-form>
      </div>

      <p-button type="submit" icon="pi pi-check" [label]="submitText" [loading]="loading || saving" [disabled]="form.invalid || loading || saving" styleClass="w-full"></p-button>
    </form>
  </ng-template>
</p-dialog>